@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<div class="list-group">
    <div class="list-group-item">
        <h2 class="">Example 1</h2>
        <p>
            Write here something about your company
        </p>
    </div>
    <div class="list-group-item">
        <h2 class="">Example 2</h2>
        <p>
            Write here something about your company
        </p>
    </div>
</div>
