@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1>@ViewData["Title"] our friendly team</h1>
    <p class="text-secondary">
        Let us know how we can help you.
    </p>
</div>

<div class="list-group-horizontal flex">
    <div class="list-group-item w-25">
        <h2 class="">Example 1</h2>
        <p>
            Write here something about your company
        </p>
    </div>
    <div class="list-group-item w-25">
        <h2 class="">Example 2</h2>
        <p>
            Write here something about your company
        </p>
    </div>
</div>
